# Lending Club Case Study Notebook

#### Context of Problem:
This company is the largest online loan marketplace, facilitating personal loans, business loans, and financing of medical procedures. Borrowers can easily access lower interest rate loans through a fast online interface. Like most other lending companies, lending loans to ‘risky’ applicants is the largest source of financial loss (called credit loss). Credit loss is the amount of money lost by the lender when the borrower refuses to pay or runs away with the money owed. In other words, borrowers who default cause the largest amount of loss to the lenders. In this case, the customers labelled as 'charged-off' are the 'defaulters'.

#### Steps:
* [Data Understanding](#data_understanding)
    * [Loading the Data](#data_loading)
    * [Removing Columns with High Missing Values](#high_missing_values)
    * [Remove unuseful columns](#unseful_columns)
    * [Remove columns that are calculted post loan approval](#post_loan_approval)
* Data Cleaning and Manipulation
* Data Visualization and Analysis
* Conclusion

#

# Step 1: Data Understanding <a class="anchor" id="data_understanding"></a>

In the Data Understanding step, we thoroughly examined the dataset to identify and report all data quality issues.<br>
Additionally, we ensured that the meanings of all variables were accurately interpreted

##### Loading Libraries and Data <a class="anchor" id="data_loading"></a>

In [85]:
import pandas as pd 
import numpy as np

#importing Libraries for data visualization
import seaborn as sns
import matplotlib.pyplot as plt 

# Warnings library will be used to ignore some warnings
import warnings #warning
warnings.filterwarnings('ignore')

In [86]:
# Loading the data and data dictionary
df = pd.read_csv("data/loan.csv")
data_dict = pd.read_excel("data/Data_Dictionary.xlsx")

In [87]:
# Print the data
df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [88]:
# Print data_dict
data_dict

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]

In [89]:
# Check the basic info about the data
print('Shape of df:',df.shape)

# No.of missing values
print('No.of missing values:',df.isnull().sum().sum())

# No.of duplicates
print('No.of duplicates:',df.duplicated().sum())

Shape of df: (39717, 111)
No.of missing values: 2263366
No.of duplicates: 0

#### Removing the columns with high missing values(>30%) <a class="anchor" id="high_missing_values"></a>

Removing columns with more than 30% missing values to ensure data quality and reliability.

In [90]:
# Check the columns with more than 30% of missing values.
threshold =  0.3 * len(df)
columns_with_high_missing_values = df.columns[df.isnull().sum() > threshold]
print(f"Total Columns with high Missing values: {len(columns_with_high_missing_values)}")
print(f"Remaing columns:{len(df.columns)-len(columns_with_high_missing_values)}")
print(columns_with_high_missing_values)

Total Columns with high Missing values: 58
Remaing columns:53
Index(['desc', 'mths_since_last_delinq', 'mths_since_last_record',
       'next_pymnt_d', 'mths_since_last_major_derog', 'annual_inc_joint',
       'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

In [92]:
# Rechecking few columns description to be sure.
import random

for i,item in data_dict[data_dict["LoanStatNew"].isin(random.sample(list(columns_with_high_missing_values),10))].iterrows():
    print(f"{i}.",item["LoanStatNew"],"-->",item["Description"])

1. acc_open_past_24mths --> Number of trades opened in past 24 months.
5. annual_inc_joint --> The combined self-reported annual income provided by the co-borrowers during registration
8. bc_open_to_buy --> Total open to buy on revolving bankcards.
46. mo_sin_old_rev_tl_op --> Months since oldest revolving account opened
51. mths_since_last_major_derog --> Months since most recent 90-day or worse rating
70. num_tl_30dpd --> Number of accounts currently 30 days past due (updated in past 2 months)
83. percent_bc_gt_75 --> Percentage of all bankcard accounts > 75% of limit.
96. tot_coll_amt --> Total collection amounts ever owed
98. tot_hi_cred_lim --> Total high credit/credit limit
101. total_bal_il --> Total current balance of all installment accounts

In [93]:
# Drop the columns with high missing values from df
df.drop(columns=columns_with_high_missing_values,axis=1,inplace=True)
df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

#### Removal of columns that are not useful for analysis. <a class="anchor" id="unseful_columns"></a>

1. **id**: A unique LC assigned ID for the loan listing. (Identification column, not useful for analysis)
2. **member_id**: A unique LC assigned ID for the borrower member. (Identification column, not useful for analysis)
3. **url**: URL for the LC page with listing data. (Irrelevant to loan performance)
4. **zip_code**: The first 3 numbers of the zip code provided by the borrower. (Partial location data, potentially less useful for EDA)
5. **addr_state**: The state provided by the borrower in the loan application. (Location data, potentially less significant for loan performance analysis)
6. **title**: The loan title provided by the borrower. (Redundant with the 'purpose' column)
7. **emp_title**: The  job title supplied by the Borrower when applying for the loan. (Too specific, possibly redundant)
8. **funded_amnt_inv**: The total amount committed by investors for that loan at that point in time.(Too specific, possibly redundant)
These columns might not be necessary or insightful for EDA, hence would be best to remove them.

In [94]:
df.drop(columns=["id","member_id","url","zip_code","addr_state","title","emp_title"],axis=1,inplace=True)
df.shape

(39717, 46)

#### Removing columns that are calculated after loan approval, as they hold no relevance to the analysis.<a class="anchor" id="post_loan_approval"></a>
1. **delinq_2yrs**: The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years.
2. **earliest_cr_line**: The month the borrower's earliest reported credit line was opened.
3. **inq_last_6mths**: The number of inquiries in the past 6 months (excluding auto and mortgage inquiries).
4. **open_acc**: The number of open credit lines in the borrower's credit file.
5. **pub_rec**: Number of derogatory public records.
6. **revol_bal**: Total credit revolving balance.
7. **revol_util**: Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
8. **total_acc**: The total number of credit lines currently in the borrower's credit file.
9. **out_prncp**: Remaining outstanding principal for the total amount funded.
10. **out_prncp_inv**: Remaining outstanding principal for the portion of the total amount funded by investors.
11. **total_pymnt**: Payments received to date for the total amount funded.
12. **total_pymnt_inv**: Payments received to date for the portion of the total amount funded by investors.
13. **total_rec_prncp**: Principal received to date.
14. **total_rec_int**: Interest received to date.
15. **total_rec_late_fee**: Late fees received to date.
16. **recoveries**: Post charge-off gross recovery.
17. **collection_recovery_fee**: Post charge-off collection fee.
18. **last_pymnt_d**: Last month payment was received.
19. **last_pymnt_amnt**: Last total payment amount received.
20. **last_credit_pull_d**: The most recent month LC pulled credit for this loan.
21. **application_type**: Indicates whether the loan is an individual application or a joint application with two co-borrowers.

In [96]:
unuseful_colmns=['delinq_2yrs','earliest_cr_line','inq_last_6mths','open_acc','pub_rec','revol_bal','revol_util','total_acc','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','application_type']
df.drop(unuseful_colmns,axis=1,inplace=True)
df.shape

(39717, 25)